/*

TECHELEX - Responsive One Page Template for TECHELX.COM
Version: 1.0
By: Shaikh Masood Alam masoodalam51@gmail.com
License: Apache License v2.0

*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700);

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
}
h1,h2,h3,h4,h5,h6 { 
font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;    
font-weight: 700;
}

*,
*:focus { outline: none !important }
a { color: #2d2d2d }
a:hover,
a:focus {
color: #0c86b6;
text-decoration: none;
}

.header {  
 width: 100%;
}
.pure-menu-heading{
font-weight: 700;
}


/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #2d3e50;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
/* We can align the menu header to the left, but float the menu items to the right. */
.home-menu {
    text-align: left;
}
.home-menu ul {
    float: right;
    font-size: 14px;
}
/*
 * -- SPLASH STYLES --
 * This is the grey top section that appears on the page.
 */

.splash-container {
    background: #7f7f7f;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;    
    font-weight: 700;
    font-size: 60px;
    color: white;}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    font-family: 'verdana', Helvetica, Arial, sans-serif;  
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    text-align: center;
    font-weight: 700;
}





/* Responsive Site */
@media (max-width: 767px) { 
.splash-container {  padding: 80px 0;  }
.splash { height: 80%; }
.splash-head { font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 60px;  color: white;}
.splash-subhead { color: white; letter-spacing: 0.05em; opacity: 0.8; text-align: center; font-family: Verdana, Helvetica, Arial, sans-serif; font-weight: 700; }
}
@media (max-width: 480px) { 
.splash-container {  padding: 80px 0;  }
.splash { height: 90%; }
.splash-head { font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif; font-weight: 700; font-size: 40px;  color: white;}
.splash-subhead { color: white; letter-spacing: 0.05em; opacity: 0.8; text-align: center; font-family: Verdana, Helvetica, Arial, sans-serif; }
}